#toolbar {
	background-color: #692106;
	margin: 0;
}

#nav-links {
	display: table-row;

}

#nav-links li {
	margin: 15px 30px;
	color: white;
	display: inline-block;
}

#nav-links li:hover {
	color: lime;
	cursor: pointer;
}
