body, html {
  height: 100%;
  background: #1B764D;
}


.App {
  text-align: center;
  height: 100%;
}

#workspace {
  width: 90%;
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}


canvas {
  background: #FFF;
}